# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Prabhsimrandeep Singh
	email = psuggal@gmail.com
[core]
	excludesfile = /Users/prabhsimrans/.gitignore
	editor = vim
